<header>
  <h1>
    <a href="/threads" id="title">Meiji Forum</a>
  </h1>
  <i class="fa-solid fa-bars" id="fa-bars"></i>
  <% if(user) { %>
    <div class="header-menu-div" id="header-menu-div">
      <div class="header-menu" id="header-menu1"><a href="/user/profile">USER: <%= user.username %></a></div>
      <div class="header-menu" id="header-menu2"><a href="/user/logout">LOGOUT</a></div>
      <div class="header-menu" id="header-menu3"><a href="/threads/addThread">START THREAD</a></div>
    </div>
  <% } else { %>
    <div class="header-menu-div" id="header-menu-div">
      <div class="header-menu" id="header-menu4"><a href="/user">LOGIN</a></div>
      <div class="header-menu" id="header-menu5"><a href="/user/register">SIGN UP</a></div>
    </div>
  <% } %>
</header>
