:root {
  --theme-color: #326693;
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

#title {
  text-decoration: none;
  float: left;
  position: relative;
  margin-left: 20px;
  font-size: 30px;
  background-color: var(--theme-color);
  color: #f5f5f5;
  border-radius: 10px;
  padding: 3px 7px;
}

header {
  height: 80px;
  border-bottom: 3px solid var(--theme-color);
}

@media (max-width: 600px) {
  #title {
    font-size: 4.8vw;
  }
}

.header-menu {
  float: right;
}

#fa-bars {
  display: none;
  font-size: larger;
}

.header-menu a {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #222;
  text-align: center;
  overflow-wrap: anywhere;
  background: transparent;
}

@media (min-width: 701px) {


  .header-menu a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: black;
    transform: scaleX(0);
    transform-origin: right top;
  }
  @media (any-hover: hover) {
    .header-menu a::after {
      transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .header-menu a:hover::after {
      transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
      transform: scaleX(1);
      transform-origin: left top;
    }
  }
}

@media (max-width: 700px) {
  .header-menu-div {
    display: none;
    justify-content:space-between;
    background-color: var(--theme-color);
    transform: translateX(1200px);
    transform: translateY(100px);
    flex-flow: column;
    transition: all 0.5s;
    z-index: 10;
    opacity: 0;
  }

  .header-menu a{
    background-color: var(--theme-color);
    color: #f5f5f5;
  }

  #fa-bars {
    display: block;
    float: right;
    margin: 25px 30px;
  }

  #fa-bars:hover + .header-menu-div{
    display: flex;
    transform: translateX(0px);
    width: 100%;
    position: absolute;
    opacity: 1;
  }

  .header-menu-div:hover {
    display: flex;
    transform: translateX(0px);
    width: 100%;
    position: absolute;
    opacity: 1;
  }
}



@media (max-width: 1200px) {
  #theme {
    display: none;
  }
}

body {
  margin: 0;
}

#threadformtag {
  background-color: aliceblue;
  margin-top: 0;
  padding: 10px;
  border-bottom: 1px solid #999;
  height: 500px;
}

.select-anonymous {
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 0 white;
}

.select-anonymous:hover {
  color: var(--theme-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important;
  border: 2px solid var(--theme-color);
}

#edit-overview {
  resize: none;
}

#input-content {
  resize: none;
}

#create-button:hover {
  background-color: green;
}

#form-box {
  width: 50%;
  margin: 0 auto;
}

#body-size {
  width: 90%;
  margin: 0 auto;
  display: flex;
}

#edit-display-button {
  float: left;
}

#deletebutton {
  text-align: right;
}

.reply-form {
  text-decoration: none;
  background-color: palegreen;
  border-radius: 5px;
}

.thread-body {
  padding-bottom: 100px;
}

#separate {
  border-top: 1px solid #888;
}

#headborder2 {
  border-top: 1px solid #000;
}

.threadbox {
  width: 50%;
  z-index: 0;
}

.threadbox p {
  z-index: 0;
}

.threadbox a{
  text-decoration: none;
  color: #222;
}

.threadbox-detail {
  width: 40%;
  margin-top: 100px;
  margin-left: 5%;
  z-index: 5;
}

@media (max-width: 900px) {
  .threadbox-detail {
    display: none;
  }

  .threadbox {
    width: 90%;
  }
}

.threadbox-detail p {
  width: 100%;
}

.box {
  width: 90%;
  border-top: 1px solid #888;
  margin-bottom: 10px;
  background-color: white;
}

.box p {
  transition: all 0.5s;
  opacity: 1;
  transform: translateX(0);
}

.box:hover p{
  color: #888;
  opacity: 0.5;
  transform: translateX(20px);
}

.box-thread-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.box-thread-overview {
  margin-top: 0;
  font-size: 15px;
}

.box-thread-overview-detail {
  margin-top: 0;
  font-size: 15px;
  width: 90%;
}

.box-detail {
  display: none;
  opacity: 0;
  transition: all 1.0s;
}

.box-thread-title-detail {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0;
}

#commentline {
  border-bottom: 1px solid black;
  white-space: pre-wrap;
  background-color: aliceblue;
}


.thread-title {
  text-decoration: none;
  color: #222;
}

.comment-id {
  font-size: 19px;
  color: slateblue;
}

.createtime {
  float: right;
  font-size: 16px;
  color: slateblue;
}

.thread-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  height: 80px;
  width: 100%;
  background-color: var(--theme-color);
  color: white;
}

#foot-title {
  font-size: large;
  padding-left: 4em;
}

.reply-text {
  font-size: small;
}

.boxtitle {
  margin-left: 10px;
  margin-top: 6px;
}

.login-button {
  float: right;
  width: 80px;
  height: 28px;
  border: 1px solid var(--theme-color);
  background-color: white;
  text-decoration: none;
  color: var(--theme-color);
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s;
}

.login-button:hover {
  color: #fff;
  background-color: var(--theme-color);
}

#loginformtag {
  background-color: aliceblue;
  margin-top: 0;
  padding: 10px 0 200px 0;
  height: 200px;
  border-bottom: 1px solid #999;
}

#login-form-box {
  width: 20%;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  #login-form-box {
    width: 90%;
  }
}

#register-form-box {
  width: 20%;
  margin: 0 auto;
}

#registerformtag {
  background-color: aliceblue;
  margin-top: 0;
  padding: 10px;
  height: 400px;
  border-bottom: 1px solid #999;
}

.password {
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid gray;
}

.user-box {
  border-bottom: 1px solid gray;
  margin: 10px 20px 20px 20px;
  padding: 10px;
}

.user-box-username {
  font-weight: bold;
  font-size: 30px;
}

.admin-button {
  display: inline;
  float: left;
}

.subtitle {
  width: 90%;
  margin: 0 auto;
}

.one-comment {
  margin: 30px 0px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 1.0s ease-in-out;
}

.reply-button {
  background-color: #f5f5f5;
  border: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  padding: 5px;
  margin-left: 20px;
}

.reply-button:hover {
  background-color: #fff;
  color: var(--theme-color);
  transform: translateY(2px);
}

.edit-textarea {
  width: 50%;
  height: 100px;
}

.scroll-button {
  border-radius: 50%;
  transition: all 0.3s ease-out;
  transform: translate3d(0, 0, 0);
  background-color: white;
  border: 1px solid #000;
}

.scroll-button:hover {
  transform: scale(1.15);
  color: var(--theme-color);
}

.thread-title-overview {
  width: 95%;
  margin: 0 auto;
}

.comment-button {
  margin-left: 20px;
	text-decoration: none;
	padding: 0.5rem 3rem;
	font-weight: bold;
	color: var(--theme-color);
	border: 2px solid white;
	border-radius: 100vh;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
  margin-bottom: 10px;
  transform: translateY(-17px);
}

.comment-button:hover {
	color: #fff;
	background: var(--theme-color);
	transform: translateY(-14px);
}

.comment-textbox {
  width: 50%;
}

.fa-star {
  color: gold;
}

.profile {
  margin: 20px auto 100px auto;
  width: 90%;
}

.profile-color {
  margin-bottom: 20px;
}

.profile-div {
  width: 95%;
  margin: 0 auto;
}

.user-list {
  margin: 0 auto;
  width: 90%;
}

.delete-thread-div {
  width: 90%;
  margin: 0 auto;
}

.favorite-button {
  background: #eee;
  border-radius: 3px;
  position: relative;
  display: flex;
  margin: 20px 0;
  align-items: center;
  max-width: 280px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.favorite-button:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

.favorite-button:hover {
  background: var(--theme-color);
  color: #FFF;
}

.favorite-button:hover:after {
  right: 1.4rem;
}

.start-thread-button {
  background: #eee;
  border-radius: 10px;
  position: relative;
  float: right;
  margin: 0;
  align-items: center;
  max-width: 280px;
  padding: 10px 35px;
  color: #313131;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.start-thread-button:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 1.5rem;
  font-size: 90%;
  display: flex;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}

.start-thread-button:hover {
  background: var(--theme-color);
  color: #FFF;
}

.start-thread-button:hover:after {
  right: 1.0rem;
}

.title-form-div {
  position: relative;
  padding: 15px 0 0;
  margin: 10px 0 20px 0;
  width: 100%;
}

#title-form {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: all 0.3s;
}

#title-form:focus {
  border-bottom: 2px solid var(--theme-color);
}

#overview-form {
  outline: none;
  border: 2px solid black;
  width: 100%;
  resize: none;
  border-radius: 2px;
  background: transparent;
  margin: 0 0 20px 0;
}

#overview-form:focus {
  border: 2px solid var(--theme-color);
}

.change-username {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: all 0.3s;
}